@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 14% 98%;
    --foreground: 260 12% 25%;
    --card: 0 0% 100%;
    --card-foreground: 260 12% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 260 12% 25%;
    --primary: 23 77% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 8% 93%;
    --secondary-foreground: 260 8% 35%;
    --muted: 265 6% 97%;
    --muted-foreground: 264 9% 53%;
    --accent: 273 32% 91%;
    --accent-foreground: 260 8% 35%;
    --destructive: 25 89% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 10% 87%;
    --input: 258 10% 87%;
    --ring: 277 74% 56%;
    --chart-1: 277 74% 56%;
    --chart-2: 277 77% 48%;
    --chart-3: 277 71% 43%;
    --chart-4: 277 62% 38%;
    --chart-5: 279 51% 34%;
    --radius: 0.5rem;
    --sidebar-background: 265 6% 97%;
    --sidebar-foreground: 260 12% 25%;
    --sidebar-primary: 277 74% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 273 32% 91%;
    --sidebar-accent-foreground: 260 8% 35%;
    --sidebar-border: 258 10% 87%;
    --sidebar-ring: 277 74% 56%;
  }
  .dark {
    --background: 266 16% 18%;
    --foreground: 256 23% 92%;
    --card: 260 12% 25%;
    --card-foreground: 256 23% 92%;
    --popover: 260 12% 25%;
    --popover-foreground: 256 23% 92%;
    --primary: 277 53% 64%;
    --primary-foreground: 266 16% 18%;
    --secondary: 261 9% 31%;
    --secondary-foreground: 258 10% 87%;
    --muted: 260 12% 25%;
    --muted-foreground: 261 6% 69%;
    --accent: 260 8% 35%;
    --accent-foreground: 258 10% 87%;
    --destructive: 25 89% 57%;
    --destructive-foreground: 266 16% 18%;
    --border: 257 6% 42%;
    --input: 257 6% 42%;
    --ring: 277 53% 64%;
    --chart-1: 277 53% 64%;
    --chart-2: 277 74% 56%;
    --chart-3: 277 77% 48%;
    --chart-4: 277 71% 43%;
    --chart-5: 277 62% 38%;
    --sidebar-background: 260 12% 25%;
    --sidebar-foreground: 256 23% 92%;
    --sidebar-primary: 277 53% 64%;
    --sidebar-primary-foreground: 266 16% 18%;
    --sidebar-accent: 260 8% 35%;
    --sidebar-accent-foreground: 258 10% 87%;
    --sidebar-border: 257 6% 42%;
    --sidebar-ring: 277 53% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
